/**
 * RISC Zero slide theme
 * Derived from the night theme in reveal.js
 * More info https://github.com/webpro/reveal-md#theme & https://revealjs.com/themes/
**/

/*********************************************
 * OVERRIDES FOR `base-theme.css`
 * Use with line in `slides.md`:
 * <link rel="stylesheet" href="/tools/styles/r0-theme.css">
 * MUST be added to custom css for `/reveal-md.json`:
 * "theme": "tools/styles/base-theme.css",
 * "css": [
 *   "tools/styles/r0-theme.css"
 * ],
 *********************************************/

:root {
  --r-heading-font: 'EuropaGroteskSH';
  --r-heading-color: #fbff96;
  /* custom var */
  --r-link-color: #cdd06f;
  --r-link-color-decoration: #fbff96;
  --r-color-controls: #fbff96;
  --r-link-color-dark: #cdd06f;
  --r-link-color-hover: #fbff96;
  --r-selection-background-color: #fbff96;
  --r-selection-color: #ffffff;
}

.reveal .slide-background-content {
  background-image: url("/tools/assets/r0/r0_planet.svg");
  background-size: contain;
  opacity: 0.3;
}